[Desktop Entry]
Type=Application
Name=Install HefftorLinux Expert
Comment=Installer for HefftorLinux
Categories=Utility;
Exec=pkexec calamares -c /etc/calamares-expert
Icon=hefftorlinux
