[Desktop Entry]
Type=Application
Name=Install HefftorLinux Basic
Comment=Installer for HefftorLinux
Categories=Utility;
Exec=pkexec calamares -c /etc/calamares-basic
Icon=hefftorlinux
